/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter);
  font-variation-settings: var(--regular);
  background-image: var(--background);
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline-start:10px;
}
.header {
  width: var(--block-clamp);
  position: relative;
  display:flex;
  gap:20px;
  height: var(--header-height);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  border:2px solid #000;
  margin-block-start:100px;
  margin-inline:370px;
  margin-block-end:98px;
}
.logo {
  font-family: var(--pressstart);
  font-size:var(--logo-clamp);
  text-transform: uppercase;

}
.main__title {
  font-family: var(--pressstart);
  font-size:var(--h1-clamp);
  margin-left:55px;
  text-transform: uppercase;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:50px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width:var(--block-clamp);
  background-color:#fff;
  border: 2px solid #000;
}
.image {
  max-width: 696px;
  max-height: 696px;
  width:100%;
  height: 100%;
}
.card__title {
  font-variation-settings: var(--black);
  font-size:18px;
  padding:4px 10px;
  border-bottom: 2px solid #000;;
}
.card__text {
  font-variation-settings: var(--regular);
  font-size:18px;
  line-height: 21px;
  margin: 25px 25px 0px 25px;
}
.button__block {
  margin-inline-start: var(--image-block-margin);
  margin-inline-end:25px;
  margin-block-start:25px;
  margin-block-end:25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__like-button {
  width:130px;
  height: 38px;
}
.button {
  position: relative;
  border:2px solid #000;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  color:var(--black-color);
}
.button__text {
  font-family: var(--pressstart);
  font-size:14px;
  position: relative;
  font-weight: 400;
  line-height: 0;
  color: var(--white-color);
  mix-blend-mode:difference;
  z-index:1;
}
.image__block {
  position: relative;
}
.label {
  position: absolute;
  font-family: var(--pressstart);
  font-size:14px;
  top:25px;
  right:25px;
  background: rgba(255,255,255,0);
  color:rgba(0, 0, 0, 1);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--stroke-color);
  text-transform: uppercase;
}
@supports (-webkit-text-stroke: 1px var(--stroke-color)) or (text-stroke: 1px var(--stroke-color)) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow:none;
  }
}
.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:8px;
  padding:15px 20px;
  overflow: visible;
  
}
.dialog__text {
  font-family: var(--pressstart);
  font-size:14px;
  line-height: 150%;
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 2 / 3;
  max-width: 234px;
  margin-inline-start: 20px;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 
dialog[open] {
  display:grid;
  align-items: center;
}
.ok__button_text {
  text-transform: uppercase;
}
dialog use#floppy { 
  grid-row: 1;
  grid-column: 1 / 2;
}
.button use#floppy { 
  grid-row: 1;
  grid-column: 1 / 2;
}
.ok__button {
  grid-row: span 2;
  grid-column: 1 / 3;
  margin-block-start: 30px;
}
@media (width <= 375px) {
  h1 {
    margin-left:0;
  }
  .save__button {
    flex-direction: column;
    margin: 17px 20px;
  }
  .save__button #floppy {
    width: 28px;
    height: 28px;
  }
  .save_button .floppy {
    width:28px;
    height: 28px;
  }
}
.brightness {
  filter:brightness(30%);
}
.contrast {
  filter:contrast(300%);
}
.grayscale {
  filter:grayscale(50%), sepia(0.6);
}
.hue-rotate {
  filter:hue-rotate(0.5turn);
}
.opacity {
  filter:opacity(90%);
}
.saturate {
  filter:saturate(200%);
}
.sepia {
  filter:sepia(30%);
}
.save__button svg {
  width:21px;
  height: 21px;
  display: flex;
  z-index:1;
  overflow: visible;
}
.button:focus-visible {
  outline:none;
  box-shadow:2px 2px 0 #000;
}
.button::after {
  content:"";
  position:absolute;
  background:#000;
  inset:0;
  transform-origin: left center;
  transform:scaleX(0);
  pointer-events:none;
  transition:transform 0.5s ease-in-out;
  z-index:0;
}
.button:hover svg,          
.button:focus svg { 
  z-index:2;
}
.button:hover::after {
  transform:scaleX(1);
}
.save__button svg {
  position: relative;
  z-index: 2;
  color:var(--white-color);
  mix-blend-mode: difference;
}
.card__icon-button {
  outline: none;
  border:2px solid transparent;
  background-color:var(--white-color);
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.card__icon-button:focus-visible {
  border-color: var(--accent-color);

}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:not(:focus-visible) {
    border-color: transparent;
}
.like-icon {
  width:39px;
  height: 39px;
  transform-origin: center;
}
.contour {
  transition: fill 0.1s linear 0s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  fill: transparent;
}

.like-icon:hover .main-body {
  fill: var(--black-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--black-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked {
  animation: heartscale 0.3s ease-in 0.1s;
  animation-fill-mode: none;
}

.like-icon.is-liked .sparks {
  animation: fillred 0.3s ease-in 0.3s;
}